<a href="https://colab.research.google.com/github/achmadarifin31/DS-Basic_Python_Foundation/blob/main/Basic_Python_Foundation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **VARIABEL**

Variabel berfungsi untuk menampung value. Mulai dari string, angka, dan lain-lain. Variabel ini sangat penting untuk menjadi inisial ketika kita sudah mempunyai banyak program. Contoh dari variabel antara lain:

In [2]:
x = 100
print (x)

100

In [3]:
x_petra = "startup campus"
print (x_petra)

startup campus

In [4]:
Data_Input = 100
DataInput = 100
datainput = 100

## **Data Type**

Terdapat 5 data type pada python yaitu Numeric, Dictionary, Boolean, Set, dan Sequence Type.


*   Numeric berdefinisi suatu angka, decimal, ataupun yang berbau numeric. Terdapat Interger, Complex Number, Float.
*   Dictionary adalah suatu tipe python yang digunakan dalam proses developing application. Fungsinya untuk mapping antara satu value dengan yang lain.
*   Boolean adalah suatu true or false.
*   Set adalah suatu himpunan dalam matematika namun agak berbeda dengan dictionary.
*   Sequence Type adalah suatu tipe yang beroder, terdapat Strings, List, dan Tuple.

In [4]:
#Interger Type Data Example
x = 200
print(type(x))

<class 'int'>

In [5]:
#Float Type Data Example
y = 2.50
print(type(y))

<class 'float'>

In [6]:
#String Type Data Example
z = "word of the day"
print(type(z))

<class 'str'>

In [9]:
#List Type Data Example
lemari = ['baju', 'celana', 'buku']
print(type(lemari))
print(lemari[0])
print(lemari[1])
print(lemari[2])

<class 'list'>
baju
celana
buku

In [10]:
print(lemari[-1])
print(lemari[-2])
print(lemari[-3])

buku
celana
baju

In [14]:
#Add New Value in List
lemari.append("handphone")
print(lemari)

#(telah saya run 4 kali)

['baju', 'celana', 'buku', 'handphone', 'handphone', 'handphone', 'handphone']

In [15]:
#Dictionary Type Data Example
mapping_ibukota={
    "Indonesia":"Jakarta",
    "Malaysia":"Kuala Lumpur",
    "Jepang":"Tokyo"
}

print(mapping_ibukota["Indonesia"])

Jakarta

In [16]:
#How to show keys on dictionary
mapping_ibukota.keys()

dict_keys(['Indonesia', 'Malaysia', 'Jepang'])

In [17]:
#How to show values on dictionary
mapping_ibukota.values()

dict_values(['Jakarta', 'Kuala Lumpur', 'Tokyo'])

In [18]:
mapping_ibukota["Thailand"]="Bangkok"

In [19]:
print (mapping_ibukota)

{'Indonesia': 'Jakarta', 'Malaysia': 'Kuala Lumpur', 'Jepang': 'Tokyo', 'Thailand': 'Bangkok'}

### ***Quiz Time from Startup Campus***

In [20]:
x = ["Startup Campus", 1500,"2024", 2.5]

In [22]:
print(type(x[-2]))

<class 'str'>

## **Arithmetic Operators**

Operators in Python:


*   (+) meaning Addition
*   (-) meaning Subtraction
*   (*) meaning Multiplication
*   (/) meaning Division
*   (%) meaning Modulus operator to get remainder in integer division
*   (**) meaning Exponent
*   (//) meaning Integer Division/Floor Division

In [23]:
A = 100.3
B = 50

print(A+B)

150.3

In [24]:
C = 25
D = 5

print(C/D)

5.0

In [25]:
print(C*D)

125

In [26]:
E = 30
F = 4

print(E%F)

2

In [27]:
print(E//F)

7

In [28]:
Z = 9

print(Z**5)

59049

### Conditional
Python mendukung kondisi logis yang biasa dari materi


1.   Sama dengan: a == b (Equivalent)
2.   Tidak sama dengan: a != b (Not Equivalent)
3.   Kurang dari: a < b (Less than)
4.   Kurang dari atau sama dengan: a <= b (less than or equal)
5.   Lebih besar dari: a > b (More than)
6.   Lebih besar dari atau sama dengan: a >= b (More than or equal)

In [29]:
print(2 == 4)

False

In [30]:
print(100==100)

True

In [31]:
print('Sapi' != 'Babi')

True

In [32]:
print(2<=5)

True

In [33]:
print(1000<500)

False

In [34]:
print(400>=400)

True

In [36]:
# AND ->> & ; OR ->> |

print(True & True)
print(True & False)
print(False & True)
print(False & False)

print((1006 != 1007) & (10 < 20))

True
False
False
False
True

In [37]:
print(True | True)
print(True | False)
print(False | True)
print(False | False)

True
True
True
False

In [38]:
print((1006 != 1007) | (10 < 20))

True

### Condition - If * Else

In [39]:
a = 5
b = 100
if b > a:
  print("b lebih besar dari a")

b lebih besar dari a

In [42]:
a = 90
b = 50
if b > a:
  print("b lebih besar dari a")
elif a == b:
  print("a sama dengan b")
else:
  print("a lebih besar dari b")

a lebih besar dari b

In [44]:
a = 100
if a == 0:
  print("Bilangan nol")
elif a % 2 == 0:
  print("Bilangan genap")
elif a % 2 == 1:
  print("Bilangan ganjil")
else:
  print("Bukan bilangan bulat")

Bilangan genap

### ***Quiz 2 Time From Startup Campus***

In [46]:
n = 2000

if n % 2 == 0 & n % 4 == 0:
  print("Yey")
elif n / 2 == 1000:
  print("Horee")
else:
  print("Mager")

Yey

## **Initial and Loop-For**

For loop adalah salah satu konsep paling fundamental yang digunakan dalam Python untuk mengendalikan aliran program.
Prinsip dasarnya sederhana; for-loop akan berjalan atau berulang kali melakukan blok kode tertentu berdasarkan jumlah elemen dalam kumpulan data atau koleksi data.

In [47]:
#Python program to illustrate
#Iterating over a list
l = ["geek", "for", "geeks"]
for i in l:
  print(i)

geek
for
geeks

In [55]:
W = [1,2,3,4,5]
total_init = 0

for x in W:
  total_init = total_init + x

print(total_init)

15

In [54]:
W = [1,2,3,4,5]
total_init = 0

for x in W:
  total_init += x
print(total_init)

15

In [56]:
for i in range(1, 10, 2):
  print(i)

1
3
5
7
9

### **Initial and Loop While**

In [57]:
# Python program to illustrate
# while loop

count = 0
while (count < 3):
  count = count + 1
  print("Hello Geek")

Hello Geek
Hello Geek
Hello Geek

### ***Quiz 3 Time From Startup Campus***

In [58]:
num_1 = 1
num_2 = 1

for i in range(10):
  num = num_2 + num_1
  num_2, num_1 = num, num_2

print(num)

144